target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.idea
*.iml
*.log
*~
.DS_Store
modules/.project
modules/.settings/
modules/integration/.project
modules/integration/.settings/
modules/integration/cdi/.classpath
modules/integration/cdi/.project
modules/integration/cdi/.settings/
modules/metamodels/.project
modules/metamodels/.settings/
modules/metamodels/simple/.classpath
modules/metamodels/simple/.project
modules/metamodels/simple/.settings/
