.text{
   -fx-font: bold 12pt "Arial";
   -fx-background-color: light-grey;
}
.button{
    -fx-font: bold 12pt "Arial";
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}
#wintitle{
  -fx-font: bold 36pt "Arial";
  -fx-text-fill: #FFBDBD;
  -fx-background-color: black;
}
.main-layout{
    -fx-width: 100%;
    -fx-height: 100%;
}
.title{
    -fx-font: bold 24pt "Arial";
    -fx-text-fill: #EFEFEF;
    -fx-background-color: light-grey;
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-size: 0;
    -fx-border-radius: 3;
    -fx-padding: 3 6 6 6;
    -fx-min-height: 40;
    -fx-min-width: 200;
}
.content{
    -fx-font: bold 18pt "Arial";
}
.monitor{
    -fx-font: bold 16pt "Courier New";
}