/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

/*
 * This fixes a CSS rule from reflow-skin.css which hides
 * some links on the page and makes them unclickable.
 * Oliver B. Fischer, 2016-04-17
 */
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    height: 0;
    margin: 0;
}

/*
 * These rules are for the Apache Incubator
 * disclaimer in the footer.
 */
.bottom-description blockquote {
    padding-top: 0;
}

.bottom-description .disclaimer {
    font-size: 11px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    display: block;;
}

.bottom-description .incubator-logo {
    padding-top: 10px;
    border: none;

}
